@model IssueTracker.Models.Issue

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Issue</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="IssueName" class="control-label"></label>
                <input asp-for="IssueName" class="form-control" />
                <span asp-validation-for="IssueName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IssueDetail" class="control-label"></label>
                <input asp-for="IssueDetail" class="form-control" />
                <span asp-validation-for="IssueDetail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstReported" class="control-label"></label>
                <label asp-for="FirstReported" >@Model.FirstReported</label>
                <span asp-validation-for="FirstReported" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReportedBy" class="control-label"></label>
                <input asp-for="ReportedBy" class="form-control" />
                <span asp-validation-for="ReportedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
