<!--
    THIS HAS BEEN REPLACED BY Home.cshtml    
-->

@{
    

    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>looking for Issues?</p>
</div>

<h1>Highlights</h1>
<table class="table">
    <thead>
        <tr>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                Most Recently Created
            </td>
            <td>
                
            </td>
        </tr>
        <tr>
            <td>
                Most Recent Updated
            </td>
        </tr>
    </tbody>
</table>